---
controller_execution_environments: {{ [] if current_execution_environments_asset_value | length == 0 }}
{% set __empty_values = [None, '', "None", [], {}, [{}]] %}
{% for ee in current_execution_environments_asset_value %}
{%   if organization_filter is not defined or (ee.summary_fields.organization is defined and ee.summary_fields.organization.name is match(organization_filter)) %}
  - name: "{{ ee.name }}"
{%     if template_overrides_resources.ee[ee.name].description
                     | default(template_overrides_global.ee.description)
                     | default(ee.description) | regex_replace("'", "''") not in __empty_values %}
    description: |-
      {{ '{%- raw -%}' }}
      {{ template_overrides_resources.ee[ee.name].description
                     | default(template_overrides_global.ee.description)
                     | default(ee.description) | regex_replace("'", "''") | indent(6) }}
      {{ '{%- endraw -%}' }}
{%     endif %}
{%     if ee.summary_fields.organization.name is defined %}
    organization: "{{ ee.summary_fields.organization.name }}"
{%     else %}
    organization:  # Leave this empty organization to let the object_diff role to work properly
{%     endif %}
    image: "{{ (template_overrides_resources.ee[ee.name].image
               | default(template_overrides_global.ee.image)
               | default(ee.image))
               | infra.aap_configuration_extended.filetree_as_var('controller_execution_environments', ee.name, 'image', (env_fields_as_variables | bool) and ('image' in env_fields_as_variables_map.controller_execution_environments), secrets_as_variables_prefix) }}"
    pull: "{{ template_overrides_resources.ee[ee.name].pull
              | default(template_overrides_global.ee.pull)
              | default(ee.pull) }}"
{%     if template_overrides_resources.ee[ee.name].credential is defined
      or template_overrides_global.ee.credential is defined
      or ee.summary_fields.credential is defined %}
    credential: "{{ template_overrides_resources.ee[ee.name].credential
                    | default(template_overrides_global.ee.credential)
                    | default(ee.summary_fields.credential.name) }}"
{%     endif %}
{%   endif %}
{% endfor %}
...
