{% if (first_inventory | default(true) | bool) and (current_inventory_index | default(0) == 0) %}
---
controller_inventories:
{% endif %}
{% set __empty_values = [None, '', "None", [], {}, [{}]] %}
  - name: "{{ current_inventories_asset_value.name }}"
{% if template_overrides_resources.inventory[current_inventories_asset_value.name].description
                     | default(template_overrides_global.inventory.description)
                     | default(current_inventories_asset_value.description) not in __empty_values %}
    description: |-
      {{ '{%- raw -%}' }}
      {{ template_overrides_resources.inventory[current_inventories_asset_value.name].description
                     | default(template_overrides_global.inventory.description)
                     | default(current_inventories_asset_value.description) | indent(6) }}
      {{ '{%- endraw -%}' }}
{% endif %}
    organization: "{{ inventory_organization }}"
{% if template_overrides_resources.inventory[current_inventories_asset_value.name].host_filter is defined
      or template_overrides_global.inventory.host_filter is defined
      or (current_inventories_asset_value.host_filter is defined and current_inventories_asset_value.host_filter | type_debug != 'NoneType') %}
    host_filter: '{{ template_overrides_resources.inventory[current_inventories_asset_value.name].host_filter
                     | default(template_overrides_global.inventory.host_filter)
                     | default(current_inventories_asset_value.host_filter if (current_inventories_asset_value.host_filter | type_debug != 'NoneType') else '""') | replace("'",'"') }}'
{% endif %}
{% if current_inventories_asset_value.kind %}
    kind: "{{ current_inventories_asset_value.kind }}"
{% endif %}
{% if template_overrides_resources.inventory[current_inventories_asset_value.name].prevent_instance_group_fallback is defined
      or template_overrides_global.inventory.prevent_instance_group_fallback is defined
      or current_inventories_asset_value.prevent_instance_group_fallback is defined %}
    prevent_instance_group_fallback: {{ template_overrides_resources.inventory[current_inventories_asset_value.name].prevent_instance_group_fallback
                                        | default(template_overrides_global.inventory.prevent_instance_group_fallback)
                                        | default(current_inventories_asset_value.prevent_instance_group_fallback) }}
{% endif %}
{% if template_overrides_resources.inventory[current_inventories_asset_value.name].source_vars is defined
      or template_overrides_global.inventory.source_vars is defined
      or current_inventories_asset_value.source_vars is defined %}
    source_vars:
{%   set __inventory_source_vars = template_overrides_resources.inventory[current_inventories_asset_value.name].source_vars
         | default(template_overrides_global.inventory.source_vars)
         | default(current_inventories_asset_value.source_vars) %}
      {{ (__inventory_source_vars if __inventory_source_vars is mapping or (__inventory_source_vars | type_debug) == 'list' else (__inventory_source_vars | from_yaml))
         | to_nice_yaml(indent=2, sort_keys=false, width=4096) | indent(width=6, first=false) | regex_replace('(^[^:]*): (.*?){([{%])(.*)', '\\g<1>: "{%- raw -%} \\g<2>{\\g<3>\\g<4> {%- endraw -%}"', multiline=true)}}
{% endif %}
{% if template_overrides_resources.inventory[current_inventories_asset_value.name].update_cache_timeout is defined
      or template_overrides_global.inventory.update_cache_timeout is defined
      or current_inventories_asset_value.update_cache_timeout is defined %}
    update_cache_timeout: {{ template_overrides_resources.inventory[current_inventories_asset_value.name].update_cache_timeout
                             | default(template_overrides_global.inventory.update_cache_timeout)
                             | default(current_inventories_asset_value.update_cache_timeout) }}
{% endif %}
{% if template_overrides_resources.inventory[current_inventories_asset_value.name].limit is defined
      or template_overrides_global.inventory.limit is defined
      or current_inventories_asset_value.limit is defined %}
    limit: "{{ template_overrides_resources.inventory[current_inventories_asset_value.name].limit
               | default(template_overrides_global.inventory.limit)
               | default(current_inventories_asset_value.limit) }}"
{% endif %}
{% if template_overrides_resources.inventory[current_inventories_asset_value.name].verbosity is defined
      or template_overrides_global.inventory.verbosity is defined
      or current_inventories_asset_value.verbosity is defined %}
    verbosity: {{ template_overrides_resources.inventory[current_inventories_asset_value.name].verbosity
                  | default(template_overrides_global.inventory.verbosity)
                  | default(current_inventories_asset_value.verbosity) }}
{% endif %}
{% if template_overrides_resources.inventory[current_inventories_asset_value.name].variables is defined
      or template_overrides_global.inventory.variables is defined
      or (current_inventories_asset_value.variables is defined and current_inventories_asset_value.variables != '---' and current_inventories_asset_value.variables != '') %}
    variables:
{%   set __inventory_variables = template_overrides_resources.inventory[current_inventories_asset_value.name].variables
         | default(template_overrides_global.inventory.variables)
         | default(current_inventories_asset_value.variables) %}
      {{ (__inventory_variables if __inventory_variables is mapping or (__inventory_variables | type_debug) == 'list' else (__inventory_variables | from_yaml))
         | to_nice_yaml(indent=2, sort_keys=false, width=4096) | indent(width=6, first=false) | regex_replace('(^[^:]*): (.*?){([{%])(.*)', '\\g<1>: "{%- raw -%} \\g<2>{\\g<3>\\g<4> {%- endraw -%}"', multiline=true)}}
{% endif %}
{% if template_overrides_resources.inventory[current_inventories_asset_value.name].related.input_inventories is defined
      or template_overrides_global_global.inventory.related.input_inventories is defined
      or (current_inventories_asset_value.related.input_inventories is defined and current_inventories_asset_value.related.input_inventories != '---' and current_inventories_asset_value.related.input_inventories != '') %}
{%   set _input_inventories = template_overrides_resources.inventory[current_inventories_asset_value.name].input_inventories
                              | default(template_overrides_global.inventory.input_inventories)
                              | default(query('ansible.platform.gateway_api', current_inventories_asset_value.related.input_inventories,
                                              host=aap_hostname, oauth_token=__filetree_create_oauth_token, verify_ssl=aap_validate_certs)) -%}
{%   if _input_inventories | length > 0 %}
    input_inventories:
{%     for _input_inventory in _input_inventories %}
      - {{ _input_inventory.name }}
{%     endfor %}
{%   endif %}
{% endif %}
{% if template_overrides_resources.inventory[current_inventories_asset_value.name].related.instance_groups is defined
      or template_overrides_global_global.inventory.related.instance_groups is defined
      or (current_inventories_asset_value.related.instance_groups is defined and current_inventories_asset_value.related.instance_groups != '---' and current_inventories_asset_value.related.instance_groups != '') %}
{%   set _instance_groups = template_overrides_resources.inventory[current_inventories_asset_value.name].instance_groups
                              | default(template_overrides_global.inventory.instance_groups)
                              | default(query('ansible.platform.gateway_api', current_inventories_asset_value.related.instance_groups,
                                              host=aap_hostname, oauth_token=__filetree_create_oauth_token, verify_ssl=aap_validate_certs)) -%}
{%   if _instance_groups | length > 0 %}
    instance_groups:
{%     for _instance_group in _instance_groups %}
      - {{ _instance_group.name }}
{%     endfor %}
{%   endif %}
{% endif %}
{% import 'macros/inline_object_roles.j2' as inline_roles with context %}
{{ inline_roles.render(current_inventories_asset_value) }}
{% if last_inventory | default(true) | bool %}
...
{% endif %}
