{% import 'macros/jinja_safe_yaml.j2' as jinja_safe %}
---
controller_credential_types: {{ [] if current_credential_types_asset_value | length == 0 }}
{% set __empty_values = [None, '', "None", [], {}, [{}]] %}
{% for __credential_type in current_credential_types_asset_value if not (__credential_type['managed'] | default(false)) %}
{%   set __ct_resource = template_overrides_resources['credential_type'][__credential_type['name']] | default({}) %}
{%   set __ct_global = template_overrides_global['credential_type'] | default({}) %}
  - name: "{{ __credential_type['name'] }}"
{%   set __description = __ct_resource['description']
                     | default(__ct_global['description'])
                     | default(__credential_type['description'])
                     | default('') %}
{%   if __description not in __empty_values %}
    description: |-
      {{ '{%- raw -%}' }}
      {{ __description | indent(6) }}
      {{ '{%- endraw -%}' }}
{%   endif %}
    kind: "{{ __credential_type['kind'] }}"
    inputs:
{{ __ct_resource['inputs']
   | default(__credential_type['inputs']) | to_nice_yaml(indent=2,sort_keys=false) | indent(width=8, first=true) }}
{%   if __ct_resource['injectors'] is defined
      or (__credential_type['injectors'] and __credential_type['injectors'] != '---') %}
    injectors:
{%   set __injectors = __ct_resource['injectors']
                     | default(__credential_type['injectors']) %}
{%   if __injectors is string %}
{%     set __injectors = __injectors | from_yaml %}
{%   endif %}
{{ jinja_safe.render_value(__injectors, 6) }}
{%   endif %}
{% endfor %}
...
