{% if first_group | default(true) | bool %}
---
controller_groups: {{ [] if current_groups_asset_value | length == 0 }}
{% endif %}
{% for group in current_groups_asset_value %}
  - name: "{{ group.name }}"
    description: |-
      {{ '{%- raw -%}' }}
      {{ template_overrides_resources.group[group.name].description
                     | default(template_overrides_global.group.description)
                     | default(group.description) | indent(6) }}
      {{ '{%- endraw -%}' }}
    inventory: "{{ group.summary_fields.inventory.name }}"
{%   if template_overrides_resources.group[group.name].variables is defined
      or template_overrides_global.group.variables is defined
      or (group.variables and group.variables != '---' and group.variables != '') %}
    variables:
{%     set __group_variables = template_overrides_resources.group[group.name].variables
         | default(template_overrides_global.group.variables)
         | default(group.variables) %}
      {{ (__group_variables if __group_variables is mapping or (__group_variables | type_debug) == 'list' else (__group_variables | from_yaml))
         | to_nice_yaml(indent=2, sort_keys=false, width=4096) | indent(width=6, first=false) | regex_replace('(^[^:]*): (.*?){([{%])(.*)', '\\g<1>: "{%- raw -%} \\g<2>{\\g<3>\\g<4> {%- endraw -%}"', multiline=true)}}
{%   endif %}
    hosts:
{{ query('ansible.platform.gateway_api', group.related.hosts,
         host=aap_hostname, oauth_token=__filetree_create_oauth_token, verify_ssl=aap_validate_certs,
         return_all=true, max_objects=query_controller_api_max_objects
   ) | selectattr("name", "defined") | map(attribute="name") | to_nice_yaml(indent=2, sort_keys=false) | indent(width=6, first=true)
}}
{% endfor %}
...
