{% if not (current_credentials_asset_value.managed | default(false)) %}
{%   if (current_credential_index | default(0)) == 0 %}
---
controller_credentials:
{%   endif %}
{%   set __empty_values = [None, '', "None", [], {}, [{}]] %}
  - name: "{{ current_credentials_asset_value.name }}"
{%   if template_overrides_resources.credential[current_credentials_asset_value.name].description
                     | default(template_overrides_global.credential.description)
                     | default(current_credentials_asset_value.description) not in __empty_values %}
    description: |-
      {{ '{%- raw -%}' }}
      {{ template_overrides_resources.credential[current_credentials_asset_value.name].description
                     | default(template_overrides_global.credential.description)
                     | default(current_credentials_asset_value.description) | indent(6) }}
      {{ '{%- endraw -%}' }}
{%   endif %}
    credential_type: "{{ current_credentials_asset_value.summary_fields.credential_type.name }}"
{%   if current_credentials_asset_value.organization is defined and current_credentials_asset_value.organization is not none %}
    organization: "{{ current_credentials_asset_value.summary_fields.organization.name }}"
{%   else %}
    organization: "{{ organization }}"
{%   endif %}
{%   if template_overrides_resources.credential[current_credentials_asset_value.name].inputs is defined
      or (current_credentials_asset_value.inputs is defined and current_credentials_asset_value.inputs is not match('{}')) %}
    inputs:
{%     for input in (template_overrides_resources.credential[current_credentials_asset_value.name].inputs |
                   default(current_credentials_asset_value.inputs)) | dict2items %}
{%       if input.value is string and '\n' in input.value %}
      {{ input.key }}: |-
        {{ input.value | indent(width=8) }}
{%       elif show_encrypted is defined and show_encrypted %}
      {{ input.key }}: {{ input.value }}
{%       elif secrets_as_variables | bool %}
      {{ input.key }}: {{ input.value | replace("$encrypted$", "\"{{ " + secrets_as_variables_prefix + "_controller_credentials_" + (current_credentials_asset_value.name | lower | regex_replace('[^a-z0-9]','_')) + "_" + (input.key | lower | regex_replace('[^a-z0-9]','_')) + " }}\"") }}
{%       else %}
      {{ input.key }}: {{ input.value | replace("$encrypted$", "\'\'") }}
{%       endif %}
{%     endfor %}

{%   endif %}
{%   import 'macros/inline_object_roles.j2' as inline_roles with context %}
{{ inline_roles.render(current_credentials_asset_value) }}
{%   if last_credential | default(true) | bool %}
...
{%   endif %}
{% endif %}
