---
gateway_organizations: {{ [] if current_gateway_organizations_asset_value | length == 0 }}
{% for current_organization in current_gateway_organizations_asset_value %}
  - name: "{{ template_overrides_resources.gateway_organization[current_organization.name].name
                     | default(template_overrides_global.gateway_organization.name)
                     | default(current_organization.name) }}"
{%   if template_overrides_resources.gateway_organization[current_organization.name].description
           | default(template_overrides_global.gateway_organization.description)
           | default(current_organization.description) != '' %}
    description: |-
      {{ '{%- raw -%}' }}
      {{ template_overrides_resources.gateway_organization[current_organization.name].description
           | default(template_overrides_global.gateway_organization.description)
           | default(current_organization.description) | indent(6) }}
      {{ '{%- endraw -%}' }}
{%   endif %}
{% endfor %}
...
